<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Test</title>
</head>

<body>
    <table>
        <tr>
            <td>Enc 1</td>
            <td>
                <form action="/uploadImage/enc1" method="post" enctype="multipart/form-data">
                    <input type="file" name="enc1" id="enc1">
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Enc 2</td>
            <td>
                <form action="/uploadImage/enc2" method="post" enctype="multipart/form-data">
                    <input type="file" name="enc2" id="enc2">
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </table>

</body>

</html>